.toolbar{
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image{
    width: 100px;
    height: 100px;
}
.recipeCard{
    border: 2px solid red;
    margin: 5px;
    padding: 5px;
}
.recipes{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.w-300{
    width: 300px;
}
.uploadCard{
    display: flex;
    justify-content: center;
    width: 100%;
}